# Non-Source directories
/build*
/install*
/libs*
/oft_venv*
/src/docs/generated
compiler_id.txt

# FORTRAN compile objects
*.o
*.a
*.mod
*.pyc

# Editor Items
.settings
.cproject
.project
.pydevproject
.vscode

# Workflow products
src/examples/TokaMaker/AdvancedWorkflows/IsofluxController/IODATA*
src/examples/TokaMaker/AdvancedWorkflows/IsofluxController/__pycache__*